<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Findpark</title>
</head>
<body>
<!--{% if name %}-->
    <!--<h1> Hello {{ name }}!</h1>-->
<!--{% else %}-->
    <!--<h1>Hello Dunya</h1>-->
<!--{% endif %}-->
<!--Burasi da olayin merkezi-->

<form action="{{ url_for('about') }}" method="post">
    <input name="adress" type="text">
    <input name="proximity" type="number" name="The proximity (in km):">
    <input type="submit" value="Submit">
</form>

</body>
</html>