<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Findpark</title>
    <link href="{{ url_for('static', filename='style.css')  }}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="relative">
        <form action="{{ url_for('findparkplace') }}" method="post">
            <input name="address" type="text" placeholder="Your Street">
            <input name="proximity" type="number" placeholder="Max. distance (km)">
            <input type="submit" value="Find My Parkplace">
        </form>
    </div>
</body>
</html>